<div class="col-lg-12">
  <div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Users Index</h6>
      <button type="button" class="btn btn-primary mb-1" (click)="editUser('')">Create New</button>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush table-hover" id="dataTableHover">
        <thead class="thead-light">
          <tr>
            <th>#Id</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Date Of Birth</th>
            <th>Gender</th>
            <th>Maritial Status</th>
            <th>Created At</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#Id</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Date Of Birth</th>
            <th>Gender</th>
            <th>Maritial Status</th>
            <th>Created At</th>
            <th colspan="2">Action</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let val of itemsToDisplay">
            <td>{{val.id}}</td>
            <td *ngIf="val.avatar"><img src="{{base_url+val.avatar}}" alt="img"></td>
            <td *ngIf="!val.avatar">--</td>
            <td>{{val.name}}</td>
            <td>{{val.email}}</td>
            <td>{{val.dob ?? '--'}}</td>
            <td>{{val.gender ?? '--'}}</td>
            <td>{{val.maritial_status ?? '--'}}</td>
            <td>{{val.created_at.split('T')[0]}}</td>
            <td><a (click)="editUser(val.id)" class="btn btn-info">Edit</a></td>
            <td><a (click)="deleteUser(val.id)" class="btn btn-danger">Delete</a></td>
        </tbody>
      </table>
      <app-pagination [current]="current" [total]="total" (goTo)="onGoTo($event)" (next)="onNext($event)"
        (previous)="onPrevious($event)"></app-pagination>
    </div>
  </div>
</div>