<div id="about" class="container">
    <h1 id="about-h1" align="center">About Us</h1>
    <p id="about_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tenetur incidunt porro dolores
        temporibus id
        voluptatem odio doloremque, corrupti suscipit? Mollitia sunt ut deleniti non eligendi iusto. Soluta modi ea
        cumque
        natus accusantium? Qui culpa voluptate debitis accusamus aliquam, accusantium vel possimus animi laboriosam,
        esse
        modi! A, distinctio expedita eligendi assumenda soluta enim nihil asperiores, sed porro nostrum, facilis
        explicabo.
        Suscipit nemo accusamus deserunt dolore?
    </p>
    <p id="about_p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptate praesentium culpa, modi nihil sapiente
        quis quae. Cumque fugiat dicta nostrum dolorem ipsa qui dignissimos eum eius distinctio. Tempore officia
        eveniet, dolorum dolore saepe iusto soluta! Consequatur ipsum optio eum pariatur quae, distinctio repellat sed
        obcaecati quisquam excepturi quam iure id enim eius labore quasi!
    </p>

</div>