<div class="container-login">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-8">
      <div class="card shadow-sm my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="login-form">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4" *ngIf="form_type == 'new'">Society Create-Form</h1>
                  <h1 class="h4 text-gray-900 mb-4" *ngIf="form_type == 'edit'">Society Edit-Form</h1>
                  <div class="text-right"><button (click)="backBtn()" class="btn btn-dark mb-1">Back</button></div>
                </div>
                <hr>
                <form class="user" [formGroup]="society_form_element">
                  <div class="row col-lg-12">
                    <!-- Name -->
                    <div class="form-group col-md-6">
                      <label for="name">Society Name</label>
                      <input type="text" class="form-control" formControlName="name" id="name"
                        placeholder="Enter Society Name">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                           *ngIf="name && name.invalid && name.touched">This field is not valid</span> -->
                    </div>
                    <!-- Email -->
                    <div class="form-group col-md-6">
                      <label for="email">Society Email</label>
                      <input type="email" formControlName="email" class="form-control" id="email"
                        aria-describedby="emailHelp" placeholder="Enter Email Address">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                           *ngIf="email && email.invalid && email.touched">This field is not valid</span> -->
                    </div>
                    <!-- Pone -->
                    <div class="form-group col-md-6">
                      <label for="phone">Society Phone Number</label>
                      <input type="number" formControlName="phone" class="form-control" id="phone"
                        placeholder="Enter Phone Number">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- Builder Name -->
                    <div class="form-group col-md-6">
                      <label id="builder_name">Builder Name</label>
                      <input type="text" formControlName="builder_name" class="form-control" id="builder_name"
                        placeholder="Enter Builder Name">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- Builder Email -->
                    <div class="form-group col-md-6">
                      <label id="builder_email">Builder Email</label>
                      <input type="email" formControlName="builder_email" class="form-control" id="builder_email"
                        placeholder="Enter Builder Email">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- Builder Phone -->
                    <div class="form-group col-md-6">
                      <label id="builder_phone">Builder Phone</label>
                      <input type="number" formControlName="builder_phone" class="form-control" id="builder_phone"
                        placeholder="Enter Builder Phone Number">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- Country -->
                    <div class="form-group col-md-6">
                      <label id="country">Country</label>
                      <input type="text" formControlName="country" class="form-control" id="country"
                        placeholder="Enter Country">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- state -->
                    <div class="form-group col-md-6">
                      <label id="state">State</label>
                      <input type="text" formControlName="state" class="form-control" id="state"
                        placeholder="Enter State">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- city -->
                    <div class="form-group col-md-6">
                      <label id="city">City</label>
                      <input type="text" formControlName="city" class="form-control" id="city"
                        placeholder="Enter City">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- Location -->
                    <div class="form-group col-md-6">
                      <label id="location">Location</label>
                      <input type="text" formControlName="location" class="form-control" id="location"
                        placeholder="Enter Nearby location/area">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- Pincode -->
                    <div class="form-group col-md-6">
                      <label id="pincode">Pincode</label>
                      <input type="number" formControlName="pincode" class="form-control" id="pincode"
                        placeholder="Enter Pincode">
                      <!-- <span style="color: red;text-align: center" class="text-xs"
                          *ngIf="password && password.invalid && password.touched">This field is not valid</span> -->
                    </div>
                    <!-- Logo -->
                  <!-- <div class="form-group">
                    <label for="logo">Society Name</label>
                    <input type="file" class="form-control" formControlName="logo" id="logo"
                      placeholder="Society Logo">
                    <span style="color: red;text-align: center" class="text-xs"
                         *ngIf="name && name.invalid && name.touched">This field is not valid</span>
                  </div> -->
                    <!-- Is_active -->
                    <div class="form-group col-md-6">
                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                        <input type="checkbox" class="custom-control-input" id="customCheck" formControlName="is_active">
                        <label class="custom-control-label" for="customCheck">Is this Society is active</label>
                      </div>
                    </div>
                  </div>

                  <div class="text-right">
                    <button class="btn btn-primary mb-1" [disabled]="society_form_element.invalid" type="submit"
                      *ngIf="form_type == 'edit'" (click)="updateSociety()">Update</button>
                    <button class="btn btn-primary mb-1" [disabled]="society_form_element.invalid" type="submit"
                      *ngIf="form_type != 'edit'" (click)="createSociety()">Create</button>
                  </div>
                  <hr>
                </form>
                <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
