<div id="wrapper">
    <!-- Sidebar -->
    <app-sidenavbar></app-sidenavbar>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopNav -->
            <app-header></app-header>
            <!-- TopNav -->

            <!-- routerLinked -->
            <router-outlet></router-outlet>
            <!-- routerLinked -->

        </div>
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- Footer -->
    </div>
</div>