<app-spinner></app-spinner>
<div id="wrapper" style="position: relative;">
    <div *ngIf="is_login" style="width: 267px;">
        <!-- Sidebar -->
        <app-sidenavbar *ngIf="is_login" style="position: fixed;"></app-sidenavbar>
        <!-- Sidebar -->
    </div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- TopNav -->
            <app-header *ngIf="is_login"></app-header>
            <!-- TopNav -->

            <!-- routerLinked -->
            <router-outlet></router-outlet>
            <!-- routerLinked -->

            <!-- pagination -->
            <!-- <ul>
                <li *ngFor="let item of itemsToDisplay">{{ item }}</li>
            </ul> -->
            <!-- <app-pagination [current]="current" [total]="total" (goTo)="onGoTo($event)" (next)="onNext($event)" (previous)="onPrevious($event)"></app-pagination> -->
            <!-- pagination -->

        </div>
        <!-- Footer -->
        <app-footer *ngIf="is_login"></app-footer>
        <!-- Footer -->
    </div>
</div>