<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <!-- Form Basic -->
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">User Form</h6>
          <div class="text-right"><button (click)="backBtn()" class="btn btn-dark mb-1">Back</button></div>
        </div>
        <div class="card-body">
          <form [formGroup]="userFormElement">

            <input type="hidden" formControlName="society_id" name="society_id" [(ngModel)]="society_id">
            <!-- Name -->
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" formControlName="name" id="name" placeholder="Deval Narkhede" required>
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- Email -->
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="deval@example.com" required>
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- Password -->
            <div class="form-group" *ngIf="form_type != 'edit'">
              <label for="pass">Password</label>
              <input type="password" class="form-control" formControlName="password" id="pass" placeholder="1234567890">
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- Confirm Password -->
            <div class="form-group" *ngIf="form_type != 'edit'">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" formControlName="password_confirmation" id="pass2" placeholder="1234567890">
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- avatar -->
            <div class="form-group">
              <label for="avatar">Avatar</label>
              <input type="file" (change)="setUser($event)" class="form-control" formControlName="avatar" id="avatar">
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- dob -->
            <div class="form-group">
              <label for="dob">Birth Date</label>
              <input type="date" class="form-control" formControlName="dob" id="dob">
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- mobile -->
            <div class="form-group">
              <label for="mobile">Mobile Number</label>
              <input type="number" formControlName="mobile" class="form-control" id="mobile">
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- gender -->
            <div class="form-group">
              <label for="gender">Gender</label>
              <select id="gender" formControlName="gender" class="form-control form-control mb-3">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- maritial status -->
            <div class="form-group">
              <label for="maritial_status">Maritial Status</label>
              <select id="maritial_status" formControlName="maritial_status" class="form-control form-control mb-3">
                <option value="married">Married</option>
                <option value="unmarried">Unmarried</option>
                <option value="divorce">Divorce</option>
              </select>
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <!-- is_admin -->
            <div class="form-group">
              <input type="checkbox" formControlName="is_admin" id="is_admin">
              <label for="is_admin"> Is this user role is 'Admin'</label>
              <!-- <div class="invalid-feedback">
                Please provide a valid details.
              </div> -->
            </div>
            <button class="btn btn-primary mb-1" [disabled]="userFormElement.invalid" type="submit" *ngIf="form_type == 'edit'" (click)="updateUser()">Update</button>
            <button class="btn btn-primary mb-1" [disabled]="userFormElement.invalid" type="submit" *ngIf="form_type != 'edit'" (click)="createUser()">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>